<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div
      class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8"
    >
      <div class="max-w-xl w-full space-y-8">
        <div>
          <h1 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
            GoVOD
          </h1>
          <h2
            class="mt-6 text-center text-2xl tracking-tight font-bold text-gray-900"
          >
          site de démonstration d'un service de streaming video utilisant le protocole HLS</h2>
          <p class="hidden mt-2 text-center text-sm text-blue-600">
            Attention. Il s'agit d'un site de démonstration, toutes les données sont supprimées réguliairement
          </p>
        </div>
        
      </div>
    </div>
    <p class="text-2xl text-center"> 404 Page introuvable </p>

  </body>
</html>
